 canvas {
     border: 1px solid black;
 }
 
 #game-container {
     position: relative;
 }
 
 #game-container .pacman-canvas {
     position: absolute;
     left: 0;
     top: 0;
 }
 
 #maze-canvas {
     background-color: black;
     width: 100%;
 }
 
 #game-canvas {
     z-index: 1000;
     width: 100%;
 }